.weather{
    width: 200px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.weather-loc{
    font-size: 22px;
    display:inline;
}

.weather-temp{
    float:left;
}
.weather-temp::before{
    content: 'Currently ';
}

.weather-humidity{
    float: right;
}
.weather-humidity::before{
    content: 'Humidity: ';
}
.weather-humidity::after{
    content: '%';
}


img.weather-tomorrow{
    float:left;
}
img.weather-dayaftertomorrow{
    float:right;
}